*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  margin: 0;
  padding: 0;
}

#root{
  margin: 0;
  padding: 0;
}

.main_screen{
  display: flex;
  width: 100%;
  /* background-color: rgba(248, 237, 227, 0.2);0 */
}

main{
  width: 100%;
  /* padding: 20px; */
}
.sidebar{
  /* background-image: #00000000; */
  /* color: #fff; */
  background-color: #F8F8FB;
  height: 100vh;
  width: 376px;
  padding: 0px 0 0 30px;
}

.top_section{
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}
.logo{
  font-size: 25px;
  color: black;
}

.user_info{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding-left: 20px;
}
.bars{
  font-size: 25px;
}

.link{
  display: flex;
  padding: 5px 15px;
  gap: 15px;
  transition: all 0.3s;
  margin-bottom: 10px;
}

.link:hover{
  background: #FFFFFF;
  color: #000;
  transition: all 0.3s;
  border-radius: 20px 0 0 20px;
}

.icon, .link_text{
  color: #000;
  font-size: 18px;
  line-height: 24px;
}

.active{
  background: #FFFFFF;
  font-weight: 700;
  border-radius: 20px 0 0 20px;
}

.header_container{
  display: flex;
  width: 100%;
  height: 50px;
}

.header{
  width: 100%;
  box-shadow: 6px 3px 10px 0px rgba(0, 0, 0, 0.3); 
  text-align: right;
}

.header_link{
  display: flex;
  padding: 5px 15px;
  gap: 15px;
  transition: all 0.3s;
  float: right;
  color: #000;
}




